html {
  background-image: url("images/fon.png");
}
body {
  background-color: white;
  width: 1170px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 29px;
  padding-bottom: 28px;
}
header .heading {
  display: flex;
  align-items: center;
}

header .heading img {
  width: 40px;
  height: 40px;
}

header .heading .heading_title {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

header .heading .heading_title h1,
p {
  margin: 0;
}

header .heading .heading_title h1 span {
  color: red;
  opacity: 0.5;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: white;
}
header nav ul {
  display: flex;
  gap: 11px;
}

header nav ul li {
  border-right: 1px solid #ccc;
  list-style: none;
  padding: 8px 16px;
  cursor: pointer;
}

header nav ul li:hover {
  color: blue;
}
header nav ul li a {
  font-weight: 600;
  text-decoration: none;
  color: currentColor;
}
.advertising {
  background-color: rgb(234, 230, 230);
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.phone {
  height: 380px;
  width: 348px;
  padding-left: 100px;
  padding-top: 53px;
}
.advertising_right {
  font-size: 31px;
  color: #003d48;
  font-weight: 300;
  font-family: "Source Sans Pro";
  padding-left: 50px;
}
.advertising .advertising_right p:nth-child(1) {
  font-size: 31px;
  color: #003d48;
  font-weight: 300;
  font-family: "Source Sans Pro";
}
.advertising .advertising_right h2 {
  margin: 0;
  padding: 0;
}
.advertising .advertising_right p {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 400;
  font-family: "Source Sans Pro";
  padding-top: 38px;
  padding-right: 163px;
}
.advertising .advertising_right button {
  width: 129px;
  height: 44px;
  border-radius: 3px;
  background-color: #f77462;
  color: white;
  margin-top: 52px;
}
