html {
  background-image: url("images/fon.png");
}
body {
  background-color: white;
  width: 1170px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 29px;
  padding-bottom: 28px;
}
header .heading {
  display: flex;
  align-items: center;
}

header .heading img {
  width: 40px;
  height: 40px;
}

header .heading .heading_title {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

header .heading .heading_title h1,
p {
  margin: 0;
}

header .heading .heading_title h1 span {
  color: red;
  opacity: 0.5;
}
header .heading .heading_title p {
  font-size: 14px;
  color: #929292;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: white;
}
header nav ul {
  display: flex;
  gap: 11px;
}

header nav ul li {
  border-right: 1px solid #ccc;
  list-style: none;
  padding: 8px 16px;
  cursor: pointer;
}

header nav ul li:hover {
  color: blue;
}
header nav ul li a {
  font-weight: 600;
  text-decoration: none;
  color: currentColor;
}
.advertising {
  background-color: #ebebeb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.advertising img {
  height: 380px;
  width: 348px;
  margin-left: 100px;
  margin-top: 53px;
}
.advertising_right {
  padding-left: 50px;
}
.advertising .advertising_right p:nth-child(1) {
  font-size: 31px;
  color: #352d2a;
  font-weight: 300;
  font-family: "Source Sans Pro";
}
.advertising .advertising_right h2 {
  font-size: 43px;
  font-family: "Source Sans Pro";
  color: #003d48;
  margin: 0;
  padding: 0;
}
.advertising .advertising_right p {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 400;
  font-family: "Source Sans Pro";
  padding-top: 38px;
  padding-right: 163px;
}
.advertising .advertising_right button {
  padding: 15px;
  border-radius: 3px;
  border: 0;
  background-color: #f77462;
  color: white;
  margin-top: 52px;
}

.aboutUs {
  background-color: #6dc5dd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 45px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.aboutUs .aboutUs_Block {
  display: flex;
  align-items: flex-start;
}
.aboutUs .aboutUs_Block h4,
p {
  color: white;
}
.aboutUs .aboutUs_Block .left_img {
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 23px;
}
.aboutUs .aboutUs_Block .left img {
  object-fit: contain;
}

.aboutUs .aboutUs_Block .right h4 {
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Sans Pro";
  margin-top: 0;
  margin-bottom: 30px;
}
.aboutUs .aboutUs_Block .right .foot {
  display: flex;
  align-items: center;
  margin-top: 27px;
}
.aboutUs .aboutUs_Block .right .foot h6 {
  color: white;
  margin: 0;
}
.aboutUs .aboutUs_Block .right .foot img {
  width: 13px;
  height: 14px;
  margin-left: 11px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}
.navigation .articles {
  width: 100%;
}
.artikle {
  display: flex;
  align-items: center;
}

.navigation .artikles .artikle .img_left img {
  height: 197px;
  width: 189px;
  margin-left: 30px;
  margin-top: 75px;
}
.navigation .artikles .artikle .img_left .img_man {
  height: 197px;
  width: 189px;
  margin-left: 30px;
  margin-top: 0;
}
.navigation .artikles .artikle .text_right {
  margin-left: 28px;
  margin-top: 66px;
}
.navigation .artikles .artikle .text_right h4 {
  font-size: 20px;
  line-height: 29px;
  color: #003d48;
  font-weight: 700;
  font-family: "Source Sans Pro";
  margin: 0;
}
.navigation .artikles .artikle .text_right p {
  width: 524px;
  font-size: 15px;
  line-height: 24px;
  color: #8c9193;
  font-weight: 400;
  font-family: "Source Sans Pro";
  margin-top: 23px;
}

.navigation .artikles .artikle .text_right h4 {
  font-size: 20px;
  line-height: 29px;
  color: #003d48;
  font-weight: 700;
  font-family: "Source Sans Pro";
  margin: 0;
}
.navigation .artikles .artikle .text_right .dropdown-content div {
  width: 524px;
  height: 112px;
  font-size: 15px;
  line-height: 24px;
  color: #8c9193;
  font-weight: 400;
  font-family: "Source Sans Pro";
}
.navigation .artikles .artikle button {
  width: 71px;
  height: 39px;
  border-radius: 3px;
  background-color: #f77462;
  border: 0;
  color: white;
  margin-top: 26px;
}

.navigation .artikles .artikle .btn_man {
  margin-bottom: 74px;
}
.menu_right {
  display: block;
  max-width: 340px;
  height: 432px;
  left: 750px;
  top: 50px;
  width: 340px;
  margin-top: 61px;
}
.menu_right .button_menu {
  display: flex;
  gap: 10px;
}
.menu_right div button:nth-child(1) {
  width: 100px;
  height: 42px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #ececec;
  color: rgb(195, 119, 26);
  padding: center;
  padding-bottom: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #003d48;
}
.menu_right div button:nth-child(2) {
  width: 100px;
  height: 42px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #ececec;
  color: rgb(195, 119, 26);
  padding: center;
  padding-bottom: 0;
  font-size: 16px;
  cursor: pointer;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-content .title {
  background-color: #003d48;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(16, 11, 11, 0.422);
  max-width: 340px;
  height: 197px;
  padding: center;
  padding-left: 33px;
}
.dropdown-content .title h5 {
  font-size: 20px;
  line-height: 29px;
  color: #6dc5dd;
  font-weight: 700;
  font-family: "Source Sans Pro";
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.dropdown-content .title p {
  width: 273px;
  height: 62px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Source Sans Pro";
}
.menu_right .list {
  display: block;
  width: 340px;
  height: 314px;
  background-color: white;
}
.menu_right .list ul {
  margin: 0;
  border: 3px solid #ececec;
}
.menu_right .list ul li a {
  background-color: white;
  color: rgb(154, 157, 170);
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
}

.dropdown-content ul li a:hover {
  background-color: #003d48;
}

.menu_right:hover .dropdown-content {
  display: block;
}

.menu_right:hover div button {
  background-color: #003d48;
}
