html {
  background-image: url("images/fon.png");
}
body {
  background-color: white;
  width: 1170px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 29px;
  padding-bottom: 28px;
}
header .heading {
  display: flex;
  align-items: center;
}

header .heading img {
  width: 40px;
  height: 40px;
}

header .heading .heading_title {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

header .heading .heading_title h1,
p {
  margin: 0;
}

header .heading .heading_title h1 span {
  color: red;
  opacity: 0.5;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: white;
}
header nav ul {
  display: flex;
  gap: 11px;
}

header nav ul li {
  border-right: 1px solid #ccc;
  list-style: none;
  padding: 8px 16px;
  cursor: pointer;
}

header nav ul li:hover {
  color: blue;
}
header nav ul li a {
  font-weight: 600;
  text-decoration: none;
  color: currentColor;
}

.aboutUs {
  background-color: #6dc5dd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.aboutUs .aboutUs_Block {
  color: white;
  display: flex;
}
.aboutUs .aboutUs_Block .flag {
  width: 63px;
  height: 63px;
  border-radius: 31px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 60px;
  margin-left: 26px;
  margin-right: 23px;
  margin-bottom: 145px;
}
.aboutUs .aboutUs_Block .main_part {
  margin-top: 64px;
}
.aboutUs .aboutUs_Block .main_part h4 {
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Sans Pro";
  margin-top: 0;
  margin-bottom: 30px;
}
.aboutUs .aboutUs_Block .main_part i {
  margin-top: 30px;
}
.aboutUs .aboutUs_Block .foot {
  display: flex;
  align-items: center;
  margin-top: 27px;
}
.aboutUs .aboutUs_Block .foot h6 {
  margin: 0;
}
.aboutUs .aboutUs_Block .foot img {
  width: 13px;
  height: 14px;
  margin-left: 11px;
  cursor: pointer;
}

.aboutUs .aboutUs_Block .camera {
  width: 63px;
  height: 63px;
  border-radius: 31px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 61px;
  margin-left: 45px;
  margin-right: 27px;
  margin-bottom: 146px;
}
.aboutUs .aboutUs_Block .house {
  width: 63px;
  height: 63px;
  border-radius: 31px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 61px;
  margin-left: 73px;
  margin-right: 27px;
  margin-bottom: 146px;
}
#main_part_last {
  margin-right: 44px;
}
